<h1>Advisers in your industry:</h1>
<div class="list-group">
	<% if @common_advisers %>
		<% @common_advisers.each do |adviser| %>
			<a href="/advisers/<%= adviser.id %>" class="list-group-item"><%= adviser.user.name %></a>
		<% end %>
	<% else %>
		<h2>Sorry, there are no advisers that match your desired industry.</h2>
	<% end %>
</div>
<br>
<h2>Didn't find the adviser you were looking for? Here's the full list of advisers:</h2>
<div class="list-group">
	<% @advisers.each do |adviser| %>
		<a href="/advisers/<%= adviser.id %>" class="list-group-item"><strong>Adviser:  </strong><%= adviser.user.name %><br><strong>Industry:  </strong><%= adviser.user.industry %></a><br>
	<% end %>
</div>
